@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains+Mono", monospace;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans antialiased;
}

.glass-card {
  @apply bg-white/80 backdrop-blur-md border border-slate-200 shadow-xl rounded-2xl;
}
